.header {
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 25%;
    height: 80px;
}

.logo {
    width: 130px;
    height: auto;
    margin-top: 35px;
    margin-left: 5px;
}

.autore {
    font-size: 15px;
    color: rgb(101, 100, 100);
}

.data {
    font-size: 10px;
    color: rgb(101, 100, 100);
}

figcaption {
    font-size: 10px;
}

.evidenziatore {
    display: inline;
    background-color: yellow;
}

th {
    table-layout: fixed;
    width: 300px;
    text-align: left;
}

tbody {
    height: 50px;
}